nav{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
   a{

    text-decoration: none;
    color: rgb(119, 29, 29);
} 

a:hover{
    text-decoration: underline;
}

}

